<template>
    <div class="container">
        <h1 class="title">Beer</h1>
        <div v-if="beer.length" class="content">
            <div v-for="(item, index) in beer" :key="index">
                <div class="beer-item">
                    <div class="beer-img">
                        <img :src="item.image_url" alt="">
                    </div>
                    <div class="beer-info">
                        <div>
                            <p class="beer-info-title">Порядковый номер</p>
                            <p>{{item.id}}</p>
                        </div>
                        <div>
                            <p class="beer-info-title">Имя</p>
                            <p>{{item.name}}</p>
                        </div>
                        <div>
                            <p class="beer-info-title">Описание</p>
                            <p>{{item.description}}</p>
                        </div>
                        <div>
                            <p class="beer-info-title">Cоветы пивоваров</p>
                            <p>{{item.brewers_tips}}</p>
                        </div>
                        <div class="actions">
                            <button @click="editBeer(index, item.name, item.description)" class="btn">Изменить</button>
                            <button @click="deleteBeer(index)" class="btn">Удалить</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-wrapper">
                <button 
                    v-if="loadBeer" 
                    @click="showNext()" 
                    class="btn"
                >
                    Show next
                </button>
            </div>
        </div>
        <div v-else>
            <h2>Пива нет...</h2>
        </div>
        <modal-window :show="show">
            <div class="modal-content">
            <div class="modal-edit">
                <h2 class="title-form">Форма редактирования</h2>
                <h3 class="form-validator" v-if="validationError">Все поля формы должны быть заполнены</h3>
                <div class="modal-form">
                    <div class="form-group">
                        <label class="form-group-label" for="name">Имя</label>
                        <input 
                            v-model="name"
                            class="form-group-input"
                            type="text"
                            name="name"
                            id="name" 
                        />
                    </div>
                    <div class="form-group">
                        <label class="form-group-label" for="description">Описание</label>
                        <textarea 
                            v-model="description"
                            name="description" 
                            class="form-group-textarea form-group-input" 
                            id="description" 
                            cols="30" 
                            rows="10"
                        ></textarea>
                    </div>
                    <div @click="saveСhanges()" class="form-group">
                        <button class="btn">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
        </modal-window>
    </div>
</template>

<script>
import axios from 'axios'
import ModalWindow from './ModalWindow.vue'

export default {
    data() {
        return {
            beer: [],
            index: null,
            show: false,
            name: '',
            description: '',
            currentPage: 1,
            loadBeer: true,
            validationError: false
        }
    },
    components: {
        ModalWindow
    },
    methods: {
        editBeer(index, name, description) {
            this.name = name
            this.description = description
            this.show = true
            this.index = index
        },
        deleteBeer(index) {
            this.beer.splice(index, 1);
        },
        saveСhanges() {
            if(this.name == '' || this.description == '') {
                this.validationError = true
                return
            }
            this.beer[this.index].name = this.name
            this.beer[this.index].description = this.description
            
            this.name = ''
            this.description = ''
            this.show = false
            this.index = null
            this.validationError = false
        },
        getData() {
            return axios.get(`https://api.punkapi.com/v2/beers?page=${this.currentPage}&limit=25`)
        },
        showNext() {
            this.currentPage++

            this.getData()
                .then(({data}) => {
                    if(data.length <= 0) {
                        this.loadBeer = false
                    }
                    this.beer.push(...data)
                })
        }
    },
    mounted() {
        this.getData()
            .then(({data}) => {
                this.beer = data
            })
    }
}
</script>

<style scoped>
    .title {
        text-transform: uppercase;
        font-style: 20px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
        border: 1px solid red;
    }

    .beer-img img {
        width: 200px;
        height: 200px;
    }

    .beer-item {
        display: flex;
        margin: 10px 10px 30px 10px;
        border: 1px solid gray;
        padding: 15px;
    }

    .beer-info {
        margin-left: 50px;
    }

    .beer-info-title {
        font-weight: bold;
    }

    .btn {
        border: none;
        padding: 15px 30px;
        font-size: 17px;
        border-radius: 15px;
        cursor: pointer;
        margin-right: 20px;
        outline: none;
    }

    .btn-wrapper {
        text-align: center;
    }
</style>