<template>
    <div v-if="show" class="modal-wrapper">
        <slot></slot>
    </div>
</template>

<script>
export default {
    props: {
        show: {
            type: Boolean,
            default: false
        },
    }
}
</script>

<style scoped>
    .modal-wrapper {
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;
    }

    .modal-content {
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0,0,0,.6);
        width: 100%;
        height: 100%;
    }

    .modal-window-input {
        background: #ececec;
        margin-bottom: 15px;
        width: 100%;
        padding: 17px 20px;
        border-radius: 10px;
        outline: none;
        font-size: 16px;
        resize: none;
    }

    .modal-edit {
        width: 30%;
        background-color: #fff;
        border-radius: 30px;
        margin: 30px auto;
        padding-bottom: 20px;
        padding-top: 3px;
    }

    .title-form {
        text-align: center;
        margin-top: 20px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 20px auto 0 auto;
    }

    .form-group-input {
        outline: none;
        padding: 8px;
        font-size: 17px;
        border-radius: 4px;
        border: none;
        background: #ececec;
    }

    .form-group-textarea {
        resize: none;
        font-family: Avenir, Helvetica, Arial, sans-serif;
        font-weight: 500;
    }

    .btn {
        width: 100%;
        border: none;
        padding: 15px 30px;
        font-size: 17px;
        border-radius: 15px;
        cursor: pointer;
        margin-right: 20px;
        outline: none;
    }

    .form-validator {
        font-weight: bold;
        text-align: center;
        color: red;
    }
</style>