<template>
  <div id="app">
    <LoadBeer></LoadBeer>
  </div>
</template>

<script>
import LoadBeer from './components/LoadBeer.vue'

export default {
  name: 'App',
  components: {
    LoadBeer
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
